{{extend 'layout.html'}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>

<div class ="container">
	<div class = "row">
		
		<div class="span8">
			<div id="chartdiv"></div>
		</div>
	
		<div id="dataDiv" class ="span4">
			<div class = "sliderDiv">
				<h4>Professional Development of Teachers</h4>
				<p>Which Teachers Receive it?</p>
				<label class="radio">
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				 	 Weakest Teachers
				</label>
				<label class="radio">
				  	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				 	Any Teachers
				</label>
			
				<label for="amount1">Percent of teachers who receive it?</label>
			    <input type="text" id="amount1" style="width: 25px; color: #f6931f; font-weight: bold;" />
			
				<div id="slider1"></div>
				<hr>
				<h4> Matching </h4>
				
				<label for="amount2">Percent of Students Matched to Teachers</label>
			    <input type="text" id="amount2" style="width: 25px; color: #f6931f; font-weight: bold;" />
			    
				<div id="slider2"></div>
				<hr>
				
				<label for="amount3">Percent of Students Matched to Students</label>
			    <input type="text" id="amount3" style="width: 25px; color: #f6931f; font-weight: bold;" />
				<div id="slider3"></div>
				
				<hr>
				 <button id="generateGraphButton" class="btn btn-large btn-primary" type="button">See Results</button>
			</div>
		</div>
		
	</div>
</div>
 
<script>
$(document).ready(function(){
	  $.jqplot.config.enablePlugins = true;
      var s1 = [2, 6, 7, 8, 5, 4];
      var ticks = ['3rd', '4th', '5th', '6th', '7th', '8th'];
      
      $("#generateGraphButton").on("click", function(){
    	  
    	  $( "#chartdiv" ).empty();
    	  
    	  var a = Math.floor((Math.random()*10)+1);
    	  var b = Math.floor((Math.random()*10)+1);
    	  var c = Math.floor((Math.random()*10)+1);
    	  var d = Math.floor((Math.random()*10)+1);
    	  var e = Math.floor((Math.random()*10)+1);
    	  var f = Math.floor((Math.random()*10)+1);
    	  
    	  var series =[a,b,c,d,e,f];
    	  
    	  plot1 = $.jqplot('chartdiv', [series], {
              // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
              animate: !$.jqplot.use_excanvas,
              seriesDefaults:{
                  renderer:$.jqplot.BarRenderer,
                  pointLabels: { show: true }
              },
              axes: {
                  xaxis: {
                      renderer: $.jqplot.CategoryAxisRenderer,
                      ticks: ticks
                  },	 
              
              	  yaxis:{
              	      max:10
              	  }
              },
              highlighter: { show: false }
          });
		});
      
      plot1 = $.jqplot('chartdiv', [s1], {
          // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
          animate: !$.jqplot.use_excanvas,
          seriesDefaults:{
              renderer:$.jqplot.BarRenderer,
              pointLabels: { show: true }
          },
          axes: {
              xaxis: {
                  renderer: $.jqplot.CategoryAxisRenderer,
                  ticks: ticks
              },
              yaxis:{
              	max:10
              }
          },
          highlighter: { show: false }
      });
   
   /*  $('#chart1').bind('jqplotDataClick', 
          function (ev, seriesIndex, pointIndex, data) {
              $('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
          }
      );
   */
	
	
$(function(){
$( "#slider1" ).slider({
	orientation: "horizontal",
	animate : true,
	min: 1,
    max: 100,
    slide: function( event, ui ) {
      $( "#amount1" ).val( ui.value );
    }
  });
  $( "#amount1" ).val( $( "#slider1").slider( "value" ) );
});

$(function(){
	$( "#slider2" ).slider({
		orientation: "horizontal",
		animate : true,
		min: 1,
	    max: 100,
	    slide: function( event, ui ) {
	      $( "#amount2" ).val( ui.value );
	    }
	  });
	  $( "#amount2" ).val( $( "#slider2").slider( "value" ) );
	});
	
$(function(){
	$( "#slider3" ).slider({
		orientation: "horizontal",
		animate : true,
		min: 1,
	    max: 100,
	    slide: function( event, ui ) {
	      $( "#amount3" ).val( ui.value );
	    }
	  });
	  $( "#amount3" ).val( $( "#slider3").slider( "value" ) );
	});
});
</script>
 
</body>
</html>
